*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: unset;
    font-family: "poppins";
}
header{
    background-image: url("../images/day.jpeg");
    height: 300px;
    background-size: cover;
    background-position: center;
}
img.social{
    width: 20px;
    margin: 0px 10px;
}
footer{
    background-color: #f5eded;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: 1.2rem;
    position: absolute;
    padding: 10px;
    bottom: 0px;
    width: 100%;
}